*{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 1em;
    width: 100%;
    border-bottom: 1px solid black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.navbar span{
    color: brown;
    font-weight: 600;
}
.Logo{
    cursor: pointer;
}
a{
    text-decoration: none;
    color: black;
}
nav{
    width: 50%;
}
nav ul{
    display: flex;
    justify-content: space-around;
}
nav ul li{
    list-style: none;
    cursor: pointer;
}
nav ul li:hover{
    text-decoration: underline;
}
.hero{
    background-image: url(hero-banner.jpg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    padding: 1em;
}
.hero h1{
    font-size: 5em;
    color: aliceblue;
}
.hero p{
    font-size: 1.5em;
    color: bisque;
}
.hero span{
    color: black;
}
footer {
  background-color: #222;
  color: #fff;
  padding: 20px 40px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-left,
.footer-right {
  display: flex;
  flex-direction: column;
}

.footer-left ul,
.footer-right ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-left li,
.footer-right li {
  margin-bottom: 10px;
}

.footer-left a,
.footer-right a {
  color: #ccc;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-left a:hover,
.footer-right a:hover {
  color: #fff;
}
.footer-bottom {
  text-align: center;
  margin-top: 20px;
  font-size: 19px;
  color: #aaa;
}

.footer-bottom .highlight {
  color: #f39c12; 
  font-weight: bold;
}
